<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle Consultation</title>
</head>
<body>
<section layout:fragment="content">
  <form th:object="${consultation}" action="/consultations" method="post">
      <label class="form-label" for="date">Date:</label>
      <input class="form-control" type="date" id="date" th:field="*{dateConsultation}">
      <label class="form-label" for="patient">Patient:</label>
      <select class="form-select" name="idPatient" id="patient" required>
          <option value="">Sélectionnez un patient</option>
          <option th:each="patient:${patients}" th:value="${patient.idPatient}" th:text="${patient.nom}"></option>
      </select>


      <label class="form-label" for="description">Description:</label>
      <textarea class="form-control" id="description" th:field="*{description}" cols="30" rows="10"></textarea>

      <input type="submit" value="Enregistrer" class="btn btn-primary">
      <input type="reset" value="Annuler" class="btn btn-danger">

  </form>

</section>
</body>
</html>