<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Patient</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<section layout:fragment="content">
    <div class="container mt-5">
        <h2 class="mb-4">Modifier un Patient</h2>
        <form th:object="${patient}" action="/patients" method="post">

            <input type="hidden" name="idPatient" th:field="*{idPatient}">

            <div class="mb-3">
                <label class="form-label" for="nom">Nom:</label>
                <input class="form-control" type="text" th:field="*{nom}" id="nom" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="prenom">Prénom:</label>
                <input class="form-control" type="text" th:field="*{prenom}" id="prenom" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="email" th:field="*{email}" id="email" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="telephon">Téléphone:</label>
                <input class="form-control" type="text" th:field="*{tel}" id="telephon" required>
            </div>

            <div class="mt-3">
                <input type="submit" value="Enregistrer" class="btn btn-primary">
                <input type="reset" value="Annuler" class="btn btn-danger">
            </div>

        </form>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

</body>
</html>
